# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes.

In [1]:
import pandas as pd

df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [2]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [3]:
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [4]:
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [5]:
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [6]:
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [7]:
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [8]:
df_08['cyl'].describe()

count         986
unique          8
top       (6 cyl)
freq          409
Name: cyl, dtype: object

In [9]:
df_18['cyl'].describe()

count    794.000000
mean       5.476071
std        1.754851
min        3.000000
25%        4.000000
50%        6.000000
75%        6.000000
max       16.000000
Name: cyl, dtype: float64

In [10]:
df_08['air_pollution_score'].describe()

count     986
unique      5
top         6
freq      500
Name: air_pollution_score, dtype: object

In [11]:
df_18['air_pollution_score'].describe()

count    794.000000
mean       3.973552
std        1.824053
min        1.000000
25%        3.000000
50%        3.000000
75%        5.000000
max        7.000000
Name: air_pollution_score, dtype: float64

In [12]:
df_08['cmb_mpg'].head()

0    17
1    19
2    19
3    21
4    20
Name: cmb_mpg, dtype: object

In [13]:
df_18['cmb_mpg'].head()

0    23
1    22
2    27
3    24
4    24
Name: cmb_mpg, dtype: object